$padding-horizontal: 0.75rem;
$modal-vertical-margin: 80px;
@media (min-width: 992px) {
  $modal-vertical-margin: 110px;
}
$modal-dialog-max-height: calc(100vh - #{$modal-vertical-margin} * 2);
$modal-result-max-height: calc(#{$modal-dialog-max-height} - 68px * 2);

// trigger button
.qdr-search-input-btn {
  display: block;
  width: 90%;
  margin-right: 8px;
  margin-bottom: 6px;
  margin-left: 8px;
  padding: 8px 10px;
  text-align: left;
  color: #6d7376;
  border: 1px solid #888c8e;
  border-radius: 4px;
  background: none;
  cursor: pointer;

  &:hover {
    color: var(--brand-secondary);
    box-shadow: 0 0 1px 0 var(--brand-secondary);
  }
}

// modal
.qdr-search {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;


  &.active {
    transition: opacity 0.4s ease-out;
    opacity: 1;
  }

  &__dialog {
    max-width: 800px;
    min-height: 316px;
    max-height: $modal-dialog-max-height;
    border-radius: 8px;
    background-color: #fefefe;
    margin: 80px 10px;
    @media (min-width: 992px) {
      margin-top: $modal-vertical-margin;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__header {
    padding: 1rem 0;
    position: relative;
    border-bottom: 1px solid #dee2e6;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    padding: 28px 18px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border: 0;
    background: url("../images/search.png") 50% 50% no-repeat;
    background-size: initial;
  }

  &__close {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: $padding-horizontal;
    opacity: .5;
    color: #000;
    border: 0;
    background: transparent;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
  }

  &__input {
    display: block;
    width: calc(100% - 30px - 52px);
    height: calc(1.5em + 0.75rem);
    padding: 0 30px 0 52px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #495057;
    border: 0;
    border-radius: .25rem;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    &:focus {
      border: 0;
      box-shadow: none;
    }
  }

  &__results {
    min-height: 180px;
    max-height: $modal-result-max-height;
    padding: 8px $padding-horizontal;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 18px $padding-horizontal 16px;
    text-align: right;
    color: #a8adb0;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid #dee2e6;
  }

  &__logo {
    display: inline-block;
    width: 72px;
    height: 24px;
    margin-right: 4px;
    margin-left: 8px;
    margin-top: -6px;
    background: url("../images/logo_with_text.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.qdr-search-result {
  display: flex;
  margin: 8px 0;
  padding: 20px 16px;
  color: #6d7376;
  border: 1px solid lightgrey;
  border-radius: 8px;
  text-decoration: none;
  position: relative;

  &:hover {
    color: white;
    background: #182b3a;

    .qdr-search-result__icon {
      background: url("../images/document-white.png") 50% 50% no-repeat;
    }
  }

  &__icon {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background: url("../images/document.png") 50% 50% no-repeat;
    background-size: initial;
    top: 50%;
    margin-top: -12px;
  }

  &__body {
    padding-left: calc(24px + 16px);
    h5 {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 14px;
      line-height: 1;
    }

    p {
      line-height: 1.5;
      font-size: 14px;
      margin: 0;
    }
  }
}
